<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
    <head>
        <title th:text="#{email.activation.title}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
        </p>
        <span th:text="#{email.activation.text1}"/>
        <br/>
        <span th:text="#{email.activation.text2}"/>
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/confirm/${user.activationKey}|})" th:href="${url}">
            	<span th:text="#{email.activation.link.text}"/>
            </a>        
        <p>
            <span th:text="#{email.activation.text3}"/>
            <br/>
            <span th:text="#{email.signature}"/>
        </p>
    </body>
</html>
