<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Hallo
        </p>
        <p th:text="#{email.creation.text1}">
            Vielen Dank für die Aktivierung deines Accounts bei Ernteerfolg!
            Im nachstehenden Link kommst du zu deinem Login:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Viele Grüße und frohes Schaffen, </span>
            <br/>
            <em th:text="#{email.signature}">Dein Team von Ernteerfolg.</em>
        </p>
    </body>
</html>
