<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
    <head>
        <title th:text="#{email.reset.title}">Ernte-Erfolg Password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Hallo
        </p>
        <p th:text="#{email.reset.text1}">
            Wie es aussieht  hast du dein Password vergessen.
            Bitte klicke auf den unten stehenden Link um dein Password zu resetten und ein neues zu vergeben:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Password vergessen</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Viele Grüße und frohes Schaffen, </span>
            <br/>
            <em th:text="#{email.signature}">Dein Team von Ernteerfolg.</em>
        </p>
    </body>
</html>
